/* Google fonts Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background-color: #5372f0;
}

.container {
  max-width: 690px;
  background: #fff;
  border-radius: 7px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);
}

.wrapper {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.wrapper .text-input {
  display: flex;
  border-bottom: 1px solid #bbb;
}

.text-input .to-text {
  border-radius: 0px;
  border-left: 1px solid #bbb;
}

.text-input textarea {
  height: 250px;
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  background: none;
  padding: 10px 15px;
}

.text-input textarea::placeholder {
  color: #b7b6b6;
}

.controls,
li,
.icons,
.icons i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  list-style: none;
  padding: 12px 15px;
}

.controls .row.from .icons {
  border-right: 1px solid #bbb;
  padding-right: 15px;
}

.controls .row.to .icons {
  border-left: 1px solid #bbb;
  padding-left: 15px;
}

.controls .icons {
  width: 38%;
}

.controls .icons i {
  width: 50px;
  color: #9f9f9f;
  font-size: 14px;
  cursor: pointer;
  justify-content: center;
}

.controls .row select {
  color: #333;
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  padding-left: 5px;
}

.controls .exchange {
  color: #9f9f9f;
  font-size: 16px;
  cursor: pointer;
  justify-content: space-between;
  padding: 0 40px;
}

.translate {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  outline: none;
  background: #5372f0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
}

.controls i:active {
  transform: scale(0.9);
}

@media only screen and (max-width: 660px) {
  .container {
    padding: 20px;
  }

  .wrapper .text-input {
    flex-direction: column;
  }

  .controls .row .icons {
    width: 100%;
  }

  .controls .row.from .icons {
    border: none;
    padding-right: 0px;
  }

  .controls .row.to .icons {
    border: none;
    padding-left: 0px;
  }

  .controls .row {
    display: grid;
    grid-gap: 20px;
  }

  .controls .row.to .item-1 {
    order: 2;
  }

  .controls .row.to .icons {
    order: 1;
  }

  .text-input .to-text {
    border-left: 0px;
    border-top: 1px solid #ccc;
  }

  .translate {
    padding: 13px;
    font-size: 16px;
  }

  .controls .row select {
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 5px;
  }
  .controls .exchange {
    font-size: 14px;
  }
}
